.content {
    margin-top: 80px; 
    padding-top: 20px;
    margin-bottom: 70px; 
    padding-bottom: 20px;
}

@media (max-width: 767px) {
    .contacts-table th:nth-child(4),
    .contacts-table td:nth-child(4) {
      display: none;
    }
  }